/* Reset & base */

#navbar-main {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  font-family: 'RM-Regular';
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  /* max-width: 1200px; */
  height: 80px;
  }

.navbar-logo img {
  height: 50px;
}

.navbar-links {
  display: flex;
  gap: 2rem;
  list-style: none;
  background: #DA1111;
  border-radius: 10px;
  padding: 0.5rem 1rem;}

.navbar-link a {
  color: white;
  text-decoration: none;
  font-size: 1.4rem;
  position: relative;
  transition: color 0.3s;
}

.navbar-link a:hover {
  color: #f0a500;
}

/* Hamburger styles */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger .bar {
  width: 25px;
  height: 3px;
  background-color: white;
  transition: all 0.3s;
}

/* Hamburger animation (optional) */
.hamburger .bar.open:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.hamburger .bar.open:nth-child(2) {
  opacity: 0;
}
.hamburger .bar.open:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* Responsive */
@media (max-width: 768px) {
  .navbar {
    padding: 1rem 4rem; 
    width: 100%;
  }
  .navbar-links {
    position: absolute;
    overflow: hidden;
    top: 80px;
    right: 0;
    width: 100%;
    flex-direction: column;
    background-color: #111;
    padding: 2rem 1rem;
    display: none;
  }

  .navbar-links.open {
    display: flex;
  }

  .hamburger {
    display: flex;
  }

  .navbar-link {
    margin: 1rem 0;
    text-align: center;
  }
}
