.scroll-text .char {
  display: inline-block;
  animation: scroll-text 10s linear infinite;
  font-family: 'RM-Bold';
  font-size: clamp(0.8rem, 0.9vw, 1.5rem); /* Responsive font size */
  color: #FFF8F0;
  opacity: 0;
  transform: translateY(-50px);
}
